* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}/* Da las bases a la pag y dando los fonts que se utilizaran en la pagina */

body {
    background-color: #000;
    color: #ffffff;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('hero-stacion.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);/* ajuste de opacidad */
    z-index: 1;
}

.navbar, .hero-content {
    position: relative;
    z-index: 2; /*basicamente z-index son las capas de la pagina*/
}

.navbar {
    margin-top: 10px;
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
}

.logo a {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: #ffffff;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn-pill {
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: background 0.3s;
}

.btn-pill:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.btn-purple {
    background-color: rgba(100, 50, 150, 0.4);
    border-color: rgba(100, 50, 150, 0.6);
}

.subtitle {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #ccc;
    margin-bottom: 1px;
    margin-left: 5px;
}

.title {
    font-size: 12rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -10px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.btn-main {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    backdrop-filter: blur(8px);
    transition: background 0.3s;
    margin-bottom: 50px;
    margin-left: 10px;
}

.btn-main-arrow {
    font-size: 1.2rem;
    margin-bottom: 5.5px;
    margin-left: 4px;
    font-weight: bold;
    text-shadow: 0.5px 0px 0px white, -0.5px 0px 0px white, 0px -0.5px, 0px white, 0px -0.5px, 0px white;
}


.btn-main:hover {
    background-color: rgba(255, 255, 255, 0.3);
}